<h1>Frying Pan</h1>

<div class="emoji-group">
  <img src="{{rootURL}}assets/images/sad.png">
  <img src="{{rootURL}}assets/images/lightning.png">
  <img src="{{rootURL}}assets/images/happy.png">
</div>

<p>It shocks you until you're happy</p>

{{outlet}}
